* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$mainColor: #f74c55;
$mainFont: 'Open Sans', sans-serif;
$fontColor: #fff;

@mixin generalWidth {
    margin: 0 auto;
    max-width: 1054px;
    padding: 0 15px;
        a {
            text-decoration: none;
        }
}

@mixin boxesGeneral {
    .box1 {
        padding: 38px 24px 46px 24px;
        background-color: #404040;
    }
    .box2 {
        padding: 38px 24px 46px 24px;
        background-color: $mainColor;
    }
    .box3 {
        padding: 47px 19px 46px 24px;
        background-color: #2d5f3b;
    }
    .service-title {
        font-size: 22px;
        margin-top: 0;
        text-indent: 16px; /* отступ от иконки*/
        display: inline-flex;
        align-items: center;
    }
    .service-descr {
        font-size: 14px;
        margin-top: 0;
    }
}

body {
    font-family: $mainFont;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    max-width: 1054px;
    height: 70px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 15%;
    padding-left: 15%;
    align-items: center;
    @media screen and (max-width:576px){
    padding-right: 7%;
    padding-left: 7%;
    }
    &_items {
        width:340px;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    }
    &_logo {
        font-size: 29px;
        text-shadow: 0.5px 0.5px black;    
        color: white;
        cursor: default;
        font-family: "Roboto";
        @media screen and (max-width:576px){
        font-size: 23px;
        }
    }
    &_items-link {
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-family: "Open Sans";
        text-shadow: 0.5px 0.5px black;
        @media screen and (max-width:576px){
        font-size: 13px;
        }
    }
}


.hero {
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
}

.container {
    @include generalWidth;
    padding-top: 200px;
    padding-bottom: 146px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 57px;
        & .hero-descr {
            grid-column: 2/3;
            color: $fontColor;
                .hero-title {
                    font-size: 40px;
                    padding-bottom: 10px;
                    margin: 0;
                }
                .descr-title {
                    font-size: 16px;
                    padding-bottom: 21px;
                    margin: 0;
                }
                .connect {
                    width: 152px;
                    height: 43px;
                    border: 1px solid white;
                    border-radius: 5px;
                    cursor: pointer;
                    outline: none;
                    background-color: $mainColor;
                        .login {
                            font-size: 24px;
                            color: $fontColor;
                        }
                }
        }
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
        display: grid;
        gap: 0;
    }
}

.mid {
    width: 100%;
    height: 448px;
    // background-color: #4cd5f796;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    // overflow: hidden;


    &_shell-title {
            font-size: 30px;
            font-family: "Open Sans";
            color: rgb(0, 0, 0);
            text-align: left;
            margin: 0;
            @media screen and (max-width:576px){
                font-size: 26px; 
            }
            @media screen and (max-width:325px){
                font-size: 18px; 
                line-height: 1;
            }
          }  

    &_shell-text {
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(64, 64, 64);
        line-height: 1.76;
        text-align: left; 
        @media screen and (max-width:576px){
            font-size: 14px; 
            line-height: 1.2;
        }
      }
    &_shell-colorstik {
        width: 179px;
        height: 32px;
        display: grid;
        grid-template-columns: repeat(5,20%);
        grid-template-rows: 100%;
        margin-top: 50px;
        margin-left: 30px;
        @media screen and (max-width:576px){
            margin-top: 20px;
            margin-left: 30px;
        }
        @media screen and (max-width:325px){
            width: 154px;
            height: 29px;
            margin-top: 1px;
            margin-left: 30px;
        }
    }
    
}

.mid_shell-colorstick1 {
    background-color: #ee732f;
}
.mid_shell-colorstick2 {
    background-color: #f74c55;
}
.mid_shell-colorstick3 {
    background-color: #2d5f3b;
}
.mid_shell-colorstick4 {
    background-color: #404040;
}
.mid_shell-colorstick5 {
    background-color: #fb636b;
}


.services {
    background: linear-gradient(to right, #404040 50%, #2d5f3b 50%); /*красит бэк пополам*/
    z-index: -1;
        .boxes {
            margin: 0 auto;
            max-width: 1054px;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); /*адаптивная ширина*/
            grid-auto-rows: auto; /*ширина строки в гриде */
            color: $fontColor;
            @include boxesGeneral;
                .plus {
                    margin-left: 90%;
                    width: 35px;
                    height: 32px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: rgba($color: #272727, $alpha: 0.5);
                }
                .image-plus {
                    padding-top: 4px;
                }
        }
}

.footer {
    .color-line {
        height: 9px;
        background: repeating-linear-gradient(to right,
        #404040 0 , #404040 35px,
        #fb636b 35px, #fb636b 70px,
        #ee732f 70px, #ee732f 105px,
        $mainColor 105px, $mainColor 140px,
        #2d5f3b 140px, #2d5f3b 175px,
        );
    }
    .copyright {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

.music {
    width: 100%;
    height: 674px;
    background-image: url(/img/music.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &_colorful {
       margin: 0;
       color: #fff;
       font-size: 42px;
       font-family: "Open Sans";
       line-height: 1.3;
       text-align: center;  
       cursor:default;   
    }
    &_button {
        height: 50px;
        border: 3px solid #fff;
        background-color: transparent;
        border-radius: 5px/5px;
        color: #fff;
        width: 178px;
        height: 40px;
        font-size: 24px;
        margin-top: 48px;
        cursor: pointer;
    }
    &_shell {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}